config tailscale 'tailscale'
	option enabled '0'
	option auth_key 'tskey-auth-xxxxx-xxxxx-xxxxx'
	option accept_routes '1'
	option accept_dns '1'
	option advertise_routes '192.168.1.0/24'
	option advertise_exit_node '0'
	option ssh '0'
	option state_dir '/etc/tailscale'
	option auto_advertise_dhcp '1'
